@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Otomanopee';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/OtomanopeeOne.woff2) format('woff2');
}

.swiper-slide-next {
  transform: scale(1.1) !important;
}

.swiper-slide {
  transition: all 0.3s ease;
}
