@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide-next {
  transform: scale(1.1) !important;
}

.swiper-slide {
  transition: all 0.3s ease;
}

li {
  list-style-type: disc !important;
  margin-left: 20px;
}
