@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide-next {
  transform: scale(1.1) !important;
}

.swiper-slide {
  transition: all 0.3s ease;
}

li {
  list-style-type: disc !important;
  margin-left: 20px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23E0E0E0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  padding-right: 36px; /* Make room for the custom arrow */
}